@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
        :root{
            --purple: hsl(259, 100%, 65%);
            --big: 32px;
            --bigger: 90px;
            --off-white:hsl(0, 0%, 94%);
            --white:hsl(0, 0%, 100%);
            --Light-grey: hsl(0, 0%, 86%);
            --Smokey-grey: hsl(0, 1%, 44%);
            --off-black: hsl(0, 0%, 8%);
            --Light-red: hsl(0, 100%, 67%);
            --weightl: 400i;
            --weighth: 700;
            --weighthh: 800;
            }

        body{
            background-color: var(--off-white);
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
                
        }

        /*.main{
            display: flex;
            justify-content: center;
            align-items: center;
            /* height: 100vh; 
        }*/
        #all{
            padding: 2%;
            width: max(320px, 45%);
            background-color:var(--white) ;
            padding-inline: 20px;
            margin-inline: auto;
            margin-block: 8em;
            border-radius: 40px;
            border-bottom-right-radius:200px !important;
            display: flex;
            flex-direction: column;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            -ms-border-radius: 40px;
            -o-border-radius: 40px;
}
        .container {
            width: 85%;
            color: var(--Smokey-grey);
        }

        .sectionA {
            display: grid;
            gap: 0;
            grid-template-columns: repeat(3,  1fr);
            width: max(90%);
        }
        form{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding-bottom: 20px;
            justify-content: space-between;
            grid-column: span 3;
            place-items: start;
            width: 100%;
        }
        label{
            width: max(33%); 
            margin:0.5em 0;
            
        }
        .input{
            width: 70%;
            padding:10px ;
            border: 1px solid var(--Light-grey);
            border-radius: 10px;
            color: var(--Smokey-grey);
            font-size: var(--big);
            cursor: pointer; 
        }
 
        .flex{
            display: flex;
            justify-content: flex-end;
            align-items: center;  
            position: relative;

        }
        hr{
            width: 80%;
            margin: 0;
            padding: 0;
            color: var(--Light-grey);
            
        }
        .btn{
            border-radius: 100%;
            border: none;
            width: 10%;
            background-color: var(--purple) ;
            padding: 0.7em;
            z-index: 2;
            cursor: pointer; 
        }
        .txt{
            font-size: var(--bigger);
            line-height: 1.0;

        }
        .text{
            color: var(--purple);
            font-size: var(--bigger);
            width: max(100%);

        }
        p,strong, span{
            margin: 0;
            padding: 0.05em;
            margin-bottom: 0;
            font-weight: var(--weighthh);
        }

    /** Text animation for the p tag **/
    
        /* Animation */
       
          
        /* text animation */
          
        @keyframes animated-text {
            from { width: 0; }
            to { width: 350px; }
        }
        
        @keyframes animated-cursor {
            from { border-right-color: var(--Light-grey); }
            to { border-right-color: transparent; }
        }
        
        .pAnimation {
            white-space: nowrap;
            overflow: hidden;
            animation: animated-text 4s steps(29, end) infinite, animated-cursor 600ms steps(29, end) infinite;
            -webkit-animation: animated-text 4s steps(29, end) infinite, animated-cursor 600ms steps(29, end) infinite;

        }

        @keyframes countUp {
            from {
              opacity: 0;
              transform: translateY(20px);
              -webkit-transform: translateY(20px);
              -moz-transform: translateY(20px);
              -ms-transform: translateY(20px);
              -o-transform: translateY(20px);
        }
            to {
              opacity: 1;
              transform: translateY(0);
              -webkit-transform: translateY(0);
              -moz-transform: translateY(0);
              -ms-transform: translateY(0);
              -o-transform: translateY(0);
        }
          }
          
          .age-value-animation {
            animation: countUp 5s ease forwards;
            -webkit-animation: countUp 5s ease forwards;
        }
        
        /*** Animation for the button***/
        @-webkit-keyframes heartbeat{
            from{-webkit-transform:scale(1);
                transform:scale(1);
                -webkit-transform-origin:center center;
                transform-origin:center center;
                -webkit-animation-timing-function:ease-out;
                animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
        @keyframes heartbeat{
            from{-webkit-transform:scale(1);
                transform:scale(1);
                -webkit-transform-origin:center center;
                transform-origin:center center;
                -webkit-animation-timing-function:ease-out;
                animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
        
        
        .heartbeat{
            -webkit-animation:heartbeat 1.5s ease-in-out infinite both;
            animation:heartbeat 1.5s ease-in-out infinite both
        }
        

        @-webkit-keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

        .tracking-in-contract-bck{-webkit-animation:tracking-in-contract-bck 1s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract-bck 1s cubic-bezier(.215,.61,.355,1.000) both}

        .span{
            color: var(--Light-red);
        }

        @-webkit-keyframes tracking-in-contract-bck{0%{letter-spacing:1em;transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0);opacity:1}}@keyframes tracking-in-contract-bck{0%{letter-spacing:1em;transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0);opacity:1}}

        .tracking-in-contract-bck{-webkit-animation:tracking-in-contract-bck 1s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract-bck 1s cubic-bezier(.215,.61,.355,1.000) both}

        .span{
            color: var(--Light-red);
            font-style: italic;
            font-weight: lighter;
            font-size: small;
}

    /** Hover Effects at necessary parts of the UI **/
        
        .btn:hover{
            background: var(--off-black);
        }

        .input:focus {
            border: 1.5px solid var(--purple) !important;
            /* box-shadow: 0 0 5px var(--purple); */
            outline: none;
            color: var(--off-black);
        }
        .input:not(:hover){
            color: var(--off-black);
        }

    /** media queries for the display for mobile and for larger screens **/
    @media (min-width: 800.01px) and (max-width: 2000px){ 
        .text{
            font-size: 75px;
            line-height: 1.1;
        }
        .txt{
            font-size: 75px;
            line-height: 1.1;
        }
        .flex::after{
            content: "";
            width: 100%;
            margin: 0 auto;
            border-bottom: solid 2px var(--Light-grey);
            position: absolute;
            left: 0;
            top: 50%;
            /* z-index: 1; */
            background-color: var(--Light-grey);
            display: block;
        }
    }
    @media (min-width: 500.01px) and (max-width: 800px){
        .flex::after{
            content: "";
            width: 100%;
            margin: 0 auto;
            border-bottom: solid 2px var(--Light-grey);
            position: absolute;
            left: 0;
            top: 50%;
            /* z-index: 1; */
            background-color: var(--Light-grey);
            display: block;
        }

        .text{
            font-size: 50px;
            line-height: 1.1;
        }
        .txt{
            font-size: 60px;
            line-height: 1.1;
        }
        
    }

    @media (min-width: 0px) and (max-width: 500px){
        .flex {
            justify-content: center;
        }
        .flex::after{
            content: "";
            width: 100%;
            margin: 0 auto;
            border-bottom: solid 2px var(--Light-grey);
            position: absolute;
            left: 0;
            top: 50%;
            /* z-index: 1; */
            background-color: var(--Light-grey);
            display: block;
        }

        .container {
            width: 100%;
        }
        .sectionA{
            width: 100%;
        }

        form {
            width: 100%;
        }
        .text{
            font-size: 55px;
            line-height: 1.1;
        }
        .txt{
            font-size: 55px;
            line-height: 1.1;
        }
        
    } 


